<form method="post" action="{{ path('cart_deleteOrderProduct', {'id': cart.id}) }}" onsubmit="return confirm('Êtest-vous sûre de vouloir supprimer cette article de votre panier?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_idOrderProduct" value="{{ product.id}}">
    <input type="hidden" name="_tokenOrderProduct" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn"> <i class="material-icons">remove_shopping_cart</i></button>
</form>
