{% extends 'admin/base.html.twig' %}

{% block title %}Edit Vinyl
{% endblock %}

{% block body %}


    <div class="container-fluid">

        <div class="container">
            <div class="row">
                <div class="col col-12"></div>
            </div>

            <div class="row">

                <div class="col col-12">
                    <a href="{{ path('vinyl_edit_list') }}">
                        <i class="fa fa-arrow-left"></i>
                        <span>Retour à la liste des vinyles</span>
                    </a>
                </div>
            </div>
            <h1 class="section-title center-align">Modifier un vinyle</h1>

            <div class="row">
                <div class="col col-8 offset-2">

                    {{ include('vinyl/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
