{% extends 'base.html.twig' %}


{% block body %}


    <div class="background-image-form blue valign-wrapper">


        <div class="row container-form-security">
            <div class="col s12">
                <h3 class="section-title-form center-align">Connexion</h3>
                <div class=" col s6 offset-s3 ">
                    <form axtion={{path ('security_login')}} method="post">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" require name="_username" class="validate" >
                                <label class="label-form" for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" require name="_password" class="validate">
                                <label class="label-form" for="password">Mot de passe</label>
                            </div>
                        </div>
                        <div class="center-align">
                            <button type="submit" class="btn btn-admin-form">Se connecter</button>
                        </div>

                    </form>


                </div>
            </div>
            <div class="col s12 center-align ">

                <h5>Pas encore inscrit ?</h5>
                <a  class="button-white-call-to-action"  href="{{path ('security_registration')}}">S'inscrire</a>
                
            </div>


        </div>


    </div>

{% endblock %}
