<form method="post" action="{{ path('track_delete', {'id': track.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce titre?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ track.id) }}">
    <button class="btn btn btn-admin">Supprimer</button>
</form>
