html {
    font-family: 'Raleway', sans-serif;
    height: 100% !important;
}

body{
    min-height: 100% !important;
}

button:focus {
    color:white !important;
    background: #C26208 !important;
  }
input:focus {
    border-bottom: 1px solid #C26208 !important;
    box-shadow: 0 1px 0 0 #C26208 !important;
  }

label{
    color: rgb(39, 32, 32) !important;
}

a:focus {
    outline:none !important;
}

.main-navbar {
    background: #555555
}

.main-footer {
    background: #555555
}

.main-sidenav {
    background: #555555
}

.logoBrand {
    margin-left: 40px;
    font-family: Pacifico;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    text-shadow: 2px 2px #C26208;
}

.logoBrandFooter {
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #FFFFFF;
    text-shadow: 2px 2px #C26208;
}

.logoSocialMediaFooter {
    max-width: 30px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px
}

.text-sidenav {
    color: white
}

.logoBrandSidenav {
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    text-shadow: 2px 2px #C26208;
}

#search{
    margin : 0;
}

.container-call-to-action{
    height: 40vh;
    background: rgba(0, 0, 0, 0.685)
}


.title-call-to-action{
    
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 2px 2px #C26208;
}

.titleSection{
    text-align: center;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: #C26208;
}

.button-orange{
    padding : 20px;
    padding-bottom: 10px;
    padding-top : 10px;
    background-color: #C26208;
    font-weight: bolder;
    border-radius: 5px;
    color : white;
    transition: 0.3s;
    cursor: pointer;
    box-shadow:none;
}

.button-orange:hover{
    padding : 20px;
    padding-bottom: 10px;
    padding-top : 10px;
    background-color: #C26208;
    font-weight: bolder;
    border-radius: 5px;
    color : white;
    transition: 0.3s;
    cursor: pointer;
    filter: brightness(85%);
    box-shadow:none;
}


.button-white-call-to-action{
    padding : 20px;
    padding-bottom: 10px;
    padding-top : 10px;
    background-color: white;
    font-weight: bolder;
    border-radius: 5px;
    color : #C26208;
    transition: 0.3s;
    cursor: pointer;

}
.button-white-call-to-action:hover{
    padding : 20px;
    font-weight: bolder;
    padding-bottom: 10px;
    padding-top : 10px;
    border-radius: 5px;
    background-color: #C26208;
    color : white;
    transition: 0.3s;
    cursor: pointer;
    
}

.text-call-to-action{
    text-align: center;
    color : white;
    margin-top: 15px;
    margin-bottom: 45px;
    font-size: 20px;

}

.cover-vinyl{
   width: 250px;
   height: 250px; 
   box-shadow: 2px 2px 2px #555555;
   border: solid 0px #C26208;
   transition: 0.2s;
   transition-timing-function: ease-out;
}

.cover-vinyl:hover{
    border: solid 4px #C26208;
    transition: 0.2s;
    transition-timing-function: ease-out;
}

.container-vinyl-info{
    margin-top: 15px;
    border-top: 0.6px solid black;
    
}

.artist-name{
    margin-bottom :0;
    color : #C26208;
    font-weight: bold;
}
.vinyl-name{
    margin-top: 0px;
    color : black;
    margin-bottom :0;
    font-weight: bold;
}
.label-and-year{
    margin-top: 0px;
    color :  #A4A1A1
}
.vinyl-price{
    color :  #A4A1A1;
    font-weight: bold;
}

.container-brand-promotion{
    background: rgba(0, 0, 0, 0.685);
    height: 500px;
}


.icon-brand-promotion{
    width: 100px;
}

.title-brand-promotion{
    color : #C26208;
    font-weight: bold;
}
.image-filter-grey{
    filter: grayscale(60%);
}

.text{
    color:white
}


.container-header-page{
    background: rgba(0, 0, 0, 0.685);
    height: 200px;
}

.title-header-page{
    text-align: center;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: white;
}

.section-title{
    color : #C26208;
    font-weight: bold
}

.genres-row{
    margin-bottom : 40px;
}

.genre-button-container{
    margin-bottom: 30px;
}


.button-white{
    padding : 20px;
    width : 140px;
    padding-bottom: 10px;
    padding-top : 10px;
    background-color: white;
    border-radius: 5px;
    border : 1px solid #C26208; 
    color : #C26208;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;

}
.button-white:hover{
    padding : 20px;
    padding-bottom: 10px;
    padding-top : 10px;
    border-radius: 5px;
    border : 1px solid white; 
    background-color: #C26208;
    color : white;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    
}

.button-black{
    padding : 20px;
    padding-bottom: 10px;
    padding-top : 10px;
    background-color: white;
    border-radius: 5px;
    border : 1px solid black; 
    color : black;
    transition: 0.3s

}
.button-black:hover{
    padding : 20px;
    padding-bottom: 10px;
    padding-top : 10px;
    border-radius: 5px;
    border : 1px solid #A4A1A1; 
    background-color: #A4A1A1;
    color : white;
    transition: 0.3s
    
}

.duration-track{
    color : #A4A1A1
}

.vinyl-artist{
    color : #C26208;
    font-weight: bold;
    margin-bottom : 0px
}
.vinyl-title{
    margin-top :2px;
    color : black;
    font-weight: bold
}

.vinyl-price{
    margin-top:0;
    font-weight: bold;
    color : black;
    font-size: 18px;

}


.stock-green{
    color : green;
    font-weight: bold
}
.stock-red{
    color : red;

}

.div-btn-add-cart{
    margin-right :30px;
    
}

.btn-add-cart{
    background-color : #C26208;
    border-radius: 5px;
    margin-bottom: 10px;
}
.btn-add-cart:hover{
    background-color :#C26208;
    transform: scale(1.05);
    border-radius: 5px;
    color : white;
    filter: brightness(85%);
}
.container-product-presentation{
    margin-top : 20px;
}

.container-input-quantity{
    width: 200px;
}

.container-title-section{
padding-top : 10px;
}

.link-back{
    color: black;
    margin-left : 15px;
    transition: 0.3s;
}

.link-back:hover{
    color: #C26208;
    margin-left : 15px;
    transition: 0.3s;
}
.cover-vinyl-large{
    width: 400px;
    height: 400px;
}

@media all and (max-width: 500px) 
{
.cover-vinyl-large{

    width: 200px;
    height: 200px;
 }}

.banner-discount{
    position: absolute;
    background: red;
    font-weight: bold;
    color : white;
    text-align: left;
    width: 80px;
    clip-path: polygon(0 0, 100% 0, 62% 100%, 0% 100%);
}

.vinyl-price-crossed{
    color: #A4A1A1;
    margin-top : 0;
    margin-bottom: 0;
    text-decoration: line-through;

}

.flash-notice{
    color : green;
    font-weight: bold;
    background-color: rgb(110, 224, 110);
}

.summary-cart{
-webkit-box-shadow: 3px 2px 5px 2px rgba(0,0,0,0.31); 
box-shadow: 3px 2px 5px 2px rgba(0,0,0,0.31);
   
}

.quantity-summury-cart{
    font-weight: bold;
    margin-left: 20px;
}

.text-total-summary-cart{
    font-size: 20px;
    font-weight: bold;
}

.detail-vat-summary-cart{
    font-size: 10px
}


.cart-cover-vinyl{
    width : 100px;
    height: 100px;
}

@media all and (max-width: 991px) 
{
    .cart-cover-vinyl{
        width : 20px;
        height: 20px;
    }}


.cart-container-order-product{
    margin-bottom : 8px;
    height: 160px;
}

.col-container-order-product{
    height: 150px;
}

.order-section-title{
    color : #C26208;
    font-weight: bold;
    margin-left :20px;
}

.order-text{
    color : black;
    font-size: 18px;
}

.btn-delete-form{
    background-color : white;
    border-radius: 5px;
    color : #C26208;
}
.btn-delete-form:hover{
    background-color : rgb(243, 243, 243);
    border-radius: 5px;
    color : #C26208;
}

.container-delete-cart{
    margin-top : 10px;
}

.StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  #cardholder-name::placeholder{
      color : rgb(56, 55, 55);
  }

.btn-payment{
    background-color : #C26208;
    border-radius: 5px;
    margin-top : 10px;
}
.btn-payment:hover{
    background-color : #C26208;
    border-radius: 5px;
    color : white;
    filter: brightness(85%);
    margin-top : 10px;
}
.btn-admin{
    background-color : white !important;
    border-radius: 5px !important;
    color : #C26208 !important;
}
.btn-admin:hover{
    background-color : #C26208 !important;
    border-radius: 5px !important;
    color:white !important;
}

.btn-admin-form{
    margin-top : 30px;
    margin-bottom : 30px;
    background-color : #C26208 !important;
    border-radius: 5px !important;
    color : white !important;
}
.btn-admin-form:hover{   
    filter: brightness(85%) !important;
    margin-top : 30px !important;
    margin-bottom : 30px !important;
    border-radius: 5px !important;
}

select {
    display: flex !important;
}

.form-error{
    color : red !important;
    background: #eeb3a6 !important;
    font-weight: bold !important;

}


.form-input-container{
    margin-top : 15px !important;
    margin-bottom : 15px !important;
}

.container-vinyl-lsit{
    height: 500px;
}

.container-form-security-registration{
    padding-bottom: 5px;
    background: rgba(255, 255, 255, 0.658);
    border-radius: 0px;
 }


.container-form-security{
   width: 60%;
   height: 75%;
    padding-bottom : 60px; 
   background: rgba(255, 255, 255, 0.658);
   border-radius: 0px;
}

@media all and (max-width: 1025px), all and (max-height : 769px)
{
.container-form-security{
    width: 90%;
    height: 90%;
     padding-bottom : 60px; 
    background: rgba(255, 255, 255, 0.658);
    border-radius: 0px;
   
 
 }}


@media all and (max-width: 1200px), all and (max-height : 769px)
{
.container-form-security{
    width: 60%;
    height: 60%;
     padding-bottom : 60px; 
    background: rgba(255, 255, 255, 0.658);
    border-radius: 0px;
   
 
 }}





 @media all and (max-width: 520px) , all and (max-height : 769px)
{
.container-form-security{
    width: 60%;
    height: 80%;
     padding-bottom : 60px; 
    background: rgba(255, 255, 255, 0.658);
    border-radius: 0px;
   
 
 }}


.background-image-form{
    height: 100vh;
    background-size: cover;
    background-image: url("../img/disque-vinyl-fond-noir.jpg");
   
}


.section{
    margin-top : 30px;
    background: #f8f7f7b4;
   
}

.section-title-form{
    color : #C26208;
    margin-top : 0;
    padding-top : 40px;
}

.label-form{
    color: black!important;
}

.button-white-form{
    display: inline-block;
    padding : 10px;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom : 5px;
    color : #C26208;
    transition: 0.3s

}
.button-white-form:hover{
    display: inline-block;
    padding : 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom : 5px;
    border-radius: 5px;
    background-color: #C26208;
    color : white;
    transition: 0.3s
}


.name-user{
    font-weight: bold;
}

.message-error{
    color : red !important;
    font-weight: bold !important;

}

.message-success{
    color : green !important;
    font-weight: bold !important;

}

.client-area{
    height: 60vh;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.full-screen{
    height: 70vh;
}


.pagination{
    font-size: large;
}

.link-back-container{
    margin-top: 20px;
}
.btn-update-quantity-order{
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

#dot {
    position: absolute;
    top : 13px;
    right: 10px;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }