html {
    font-family: 'Raleway', sans-serif;

}

a:focus {
    outline:none !important;
}

.main-navbar {
    background: #555555
}

.main-footer {
    background: #555555
}

.main-sidenav {
    background: #555555
}

.logoBrand {
    margin-left: 40px;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    color: #FFFFFF;
    text-shadow: 2px 2px #C26208;
}

.logoBrandFooter {
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #FFFFFF;
    text-shadow: 2px 2px #C26208;
}

.logoSocialMediaFooter {
    max-width: 30px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px
}

.text-sidenav {
    color: white
}

.logoBrandSidenav {
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    color: #FFFFFF;
    text-shadow: 2px 2px #C26208;
}

#search{
    margin : 0;
}

.container-call-to-action{
    height: 40vh;
    background: rgba(0, 0, 0, 0.685)
}


.title-call-to-action{
    
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 2px 2px #C26208;
}

.titleSection{
    text-align: center;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: #C26208;
}

.button-orange{
    padding : 20px;
    padding-bottom: 10px;
    padding-top : 10px;
    background-color: #C26208;
    font-weight: bolder;
    border-radius: 10px;
    color : white;
    transition: 0.3s;
    cursor: pointer;
    box-shadow:none;
}

.button-orange:hover{
    padding : 20px;
    padding-bottom: 10px;
    padding-top : 10px;
    background-color: #C26208;
    font-weight: bolder;
    border-radius: 10px;
    color : white;
    transition: 0.3s;
    cursor: pointer;
    filter: brightness(85%);
    box-shadow:none;
}


.button-white-call-to-action{
    padding : 20px;
    padding-bottom: 10px;
    padding-top : 10px;
    background-color: white;
    font-weight: bolder;
    border-radius: 10px;
    color : #C26208;
    transition: 0.3s

}
.button-white-call-to-action:hover{
    padding : 20px;
    font-weight: bolder;
    padding-bottom: 10px;
    padding-top : 10px;
    border-radius: 10px;
    background-color: #C26208;
    color : white;
    transition: 0.3s
    
}

.text-call-to-action{
    text-align: center;
    color : white;
    margin-top: 15px;
    margin-bottom: 45px;
    font-size: 20px;

}

.cover-vinyl{
    max-width: 250px;
}

.container-vinyl-info{
    margin-top: 15px;
    border-top: 0.6px solid black;
    
}

.artist-name{
    margin-bottom :0;
    color : #C26208;
    font-weight: bold;
}
.vinyl-name{
    margin-top: 0px;
    color : black;
    margin-bottom :0;
    font-weight: bold;
}
.label-and-year{
    margin-top: 0px;
    color :  #A4A1A1
}
.vinyl-price{
    color :  #A4A1A1;
    font-weight: bold;
}

.container-brand-promotion{
    background: rgba(0, 0, 0, 0.685);
    height: 500px;
}


.icon-brand-promotion{
    width: 100px;
}

.title-brand-promotion{
    color : #C26208;
    font-weight: bold;
}
.image-filter-grey{
    filter: grayscale(60%);
}

.text{
    color:white
}


.container-header-page{
    background: rgba(0, 0, 0, 0.685);
    height: 200px;
}

.title-header-page{
    text-align: center;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: white;
}

.section-title{
    color : #C26208;
    font-weight: bold
}

.genres-row{
    margin-bottom : 40px;
}

.genre-button-container{
    margin-bottom: 30px;
}


.button-white{
    padding : 20px;
    padding-bottom: 10px;
    padding-top : 10px;
    background-color: white;
    border-radius: 10px;
    border : 1px solid #C26208; 
    color : black;
    transition: 0.3s

}
.button-white:hover{
    padding : 20px;
    padding-bottom: 10px;
    padding-top : 10px;
    border-radius: 10px;
    border : 1px solid white; 
    background-color: #C26208;
    color : white;
    transition: 0.3s
    
}

.button-black{
    padding : 20px;
    padding-bottom: 10px;
    padding-top : 10px;
    background-color: white;
    border-radius: 10px;
    border : 1px solid black; 
    color : black;
    transition: 0.3s

}
.button-black:hover{
    padding : 20px;
    padding-bottom: 10px;
    padding-top : 10px;
    border-radius: 10px;
    border : 1px solid #A4A1A1; 
    background-color: #A4A1A1;
    color : white;
    transition: 0.3s
    
}


.duration-track{
    color : #A4A1A1
}

.vinyl-artitst{
    color : #C26208;
    font-weight: bold;
    margin-bottom : 0px
}
.vinyl-title{
    margin-top :2px;
    color : black;
    font-weight: bold
}

.vinyl-price{
    font-weight: bold;
    color : black;
    font-size: 18px;

}
.stock-green{
    color : green;
    font-weight: bold
}
.stock-red{
    color : red;

}

.btn-add-cart{
    background-color : #C26208;
    border-radius: 10px;
}
.btn-add-cart:hover{
    background-color : white;
    border-radius: 10px;
    color : #C26208;
}

/* #container-vinyl-main-infos{
    padding-bottom  : 40px;
    border-bottom: 1px solid #555555
} */

.container-title-section{
padding-top : 10px;
border-top: 1px solid #555555
}

.link-back{
    color: black;
    margin-left : 15px;
    transition: 0.3s;
}

.link-back:hover{
    color: #C26208;
    margin-left : 15px;
    transition: 0.3s;
}
.cover-vinyl-large{
    width: 400px;
}